@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Montserrat:wght@300&family=Poppins:ital,wght@0,200;0,300;0,600;0,700;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,400;0,700;0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@mixin mobile() {
  @media only screen and (max-width: 840px) {
    @content;
  }
}
@mixin tablet() {
  @media only screen and (min-width: 840px) {
    @content;
  }
}
@mixin desktop() {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}
body a {
  text-decoration: none;
}
.mt-10 {
  margin-top: 60px;
}
.mt-20 {
  margin-top: 100px;
}
.m-header {
  margin-top: 145px;
}
.mx-auto {
  margin: 0 auto;
  display: block;
}
body ul {
  list-style: none;
  // padding: 0;
  padding-left: 0;
  margin-bottom: 0;
}
.button {
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 20px;

  @include mobile {
    padding: 0.5rem;
  }
}
.item_feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
  }
  button {
    border: 2px solid #3cb815;
    background-color: transparent;
    color: #3cb815;
  }
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  .infor {
    @include mobile {
      display: none;
    }
  }
  .menu_item {
    font-weight: 600;
    // transition: all 0.5s ease;

    a {
      color: #555555;
    }
    a:hover {
      color: #3cb815;
    }
    @include mobile {
      background-color: #fff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      right: 0;
      padding: 20px;
      margin-top: -500px;
      &.active {
        margin-top: 0;
      }
      a {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
  }
  .icon {
    span {
      display: flex;
      color: #555555;
      align-items: center;
      justify-content: center;
      padding: 10px;
      cursor: pointer;
    }
    a {
      display: flex;
      color: #555555;
      align-items: center;
      justify-content: center;
      padding: 10px;
      cursor: pointer;
    }
    a:hover {
      color: #3cb815;
    }
    span:hover {
      color: #3cb815;
    }

    span:last-child {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
  .hr {
    border-bottom: 1px solid #eee;
  }

  .logo {
    color: #3cb815;
  }
}

// banner

.banner {
  .item_banner {
    position: relative;
    @include mobile {
      width: 100%;
      height: 500px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .banner_content {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      h1 {
        font-size: 70px;
        max-width: 600px;
        font-weight: 600;
        margin-bottom: 20px;

        @include mobile {
          font-size: 30px;
        }
      }
      button {
        color: white;
      }
    }
  }
}

.OurFeatures {
  background-color: #f7f8fc;
  padding: 128px 0;

  h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }
  p {
    text-align: center;
    max-width: 500px;
    margin: 16px auto;
  }
  .item_feature {
    background-color: white;
    margin: 16px 0;
    padding: 45px 50px;

    h3 {
      margin-top: 30px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
}

.OurProducts {
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
  }
  p {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .tab {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    .item-tab {
      margin: 0 16px;
      color: black;
      background-color: #fff;
      padding: 10px;
      border: 1px solid #3cb815;
      cursor: pointer;
    }
    .item-tab.active {
      color: white;
      background-color: #3cb815;
    }
  }
  .tab_content {
    display: none;
  }
  .tab_content.active {
    display: block;
  }
}
.box_product {
  position: relative;
  // padding: 8px;
  margin-top: 16px;
  .product_new {
    position: absolute;
    top: 2%;
    left: 5%;
    padding: 6px 16px;
    background-color: #f65005;
    color: white;
  }
  img {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }
  h5 {
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  }
  a {
    cursor: pointer;
  }
  p {
    color: #3cb815;
    // margin-top: 20px;
    text-align: center;
    margin: 20px auto;
    del {
      color: #999;
      margin-left: 6px;
    }
  }
  .deltai_cart {
    // margin-top: 20px;
    border-top: 1px solid #eee;
    margin: 20px 4px;
    div {
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        font-size: 14px;
        color: black;
        padding-top: 8px;
      }
      a:hover {
        color: #3cb815;
      }
    }
  }
}

.Visit {
  padding: 100px 0;
  background-color: #3cb815;
  margin-top: 40px;
  .visit_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      flex-direction: column;
      column-gap: 40px;
    }

    button {
      background-color: #f65005;
      color: white;
      font-size: 30px;
      padding: 10px 20px;
    }
  }
  .visit_text {
    h1 {
      font-weight: 600;
      font-size: 50px;
    }
    p {
      max-width: 630px;
      margin-top: 20px;
      @include mobile {
        margin-top: 40px;
      }
    }
    color: white;
  }
}

.Customer_review {
  // margin-top: 40px;
  padding: 100px 0;
  background-color: #f7f8fc;

  h1 {
    text-align: center;
    font-weight: 600;
  }
  p {
    max-width: 550px;
    text-align: center;
    margin: 16px auto;
  }
  .review {
    padding: 50px;
    background-color: white;
    position: relative;
    margin-top: 20px;

    .quote {
      position: absolute;
      font-size: 60px;
      top: -45px;
      color: #3cb815;
    }
    .testimonial_item {
      display: flex;
      img {
        margin-right: 20px;
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
      }
      div {
        h5 {
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }
}
.Latest_Blog {
  padding: 100px 0;
  h1 {
    text-align: center;
  }
  p {
    max-width: 500px;
    text-align: center;
    margin: 40px auto;
  }
  .box_Blog {
    margin-top: 20px;
    img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      margin-bottom: 20px;
    }
    a {
      margin: 20px 0;
      font-size: 20px;
      font-weight: 600;
      color: #414141;
    }
  }
}

footer {
  padding: 100px 0;
  background-color: black;
  P {
    color: #999999;
    margin: 20px 0;
  }
  h4 {
    color: white;
  }
  ul {
    margin: 20px 0;
    li {
      color: #999999;
      margin: 16px 0;
      a {
        color: #999999;
      }
    }
  }
  .form_input {
    border: 1px solid #999999;
    // padding: 8px 16px;
    display: flex;
    input {
      background-color: transparent;
      outline: none;
      border: none;
      color: #999999;
      padding: 8px 16px;
      width: 100%;
    }
    button {
      padding: 6px 10px;
      background-color: #3cb815;
      color: #fff;
    }
  }
}
.link {
  a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    color: #999999;
  }
}

// trang danh sách sản phẩm

.filter {
  width: 250px;

  @include mobile {
    background-color: white;
    height: 100%;
    overflow-y: auto;
    padding: 60px 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    transform: translateX(250px);
    transition: all 0.5s;
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #fff;
      background-image: -webkit-gradient(
        linear,
        40% 0%,
        75% 84%,
        from(#4d9c41),
        to(#19911d),
        color-stop(0.6, #54de5d)
      );
    }
    &.active {
      transform: translateX(0);
    }
  }
}
.all_product {
  flex: 1;

  .loc {
    cursor: pointer;
  }
}
.baner {
  img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: contain;
  }
}

// trang chi tiết sản phẩm

.thanh_gioi_thieu {
  background-color: #eeee;
  width: 100%;
  padding: 8px 0;
  display: flex;
  align-items: center;
  ul {
    li {
      color: #999;
      cursor: pointer;
    }
  }
}

.detail_img {
  position: relative;
  width: 100%;
  height: 500px;
  img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    position: absolute;
    inset: 0;
    border-radius: 16px;
    // z-index: 0;
  }
  img:first-child {
    z-index: 1;
  }
}

.detail_content {
}
.endow {
  width: 100%;
  border: 3px dashed #ff5722;
  // max-width: 390px;
  padding: 12px;
  h5 {
    color: #ff5722;
    font-weight: 600;
    i {
      margin-right: 8px;
    }
  }
  ul {
    list-style: circle;
    li {
      margin-left: 1.25rem;
      margin-top: 8px;
      color: #999999;
      strong {
        color: black;
      }
      a {
        color: #f65005;
      }
    }
  }
}
.box_quatity {
  border: 1px solid #999999;
  border-radius: 10px;
  padding: 8px;
  display: inline-block;
  margin-top: 20px;
  ul {
    display: flex;
    li {
      padding: 6px;
      font-size: 22px;
      margin: 0 12px;
      cursor: pointer;
      user-select: none;
    }
  }
}

.product_like {
  display: flex;
  padding: 16px 8px;
  border-radius: 8px;
  &:hover {
    box-shadow: 0px 0px 6px 0px rgb(50 50 93 / 10%), 1px 1px 5px rgb(0 0 0 / 2%);
  }
  img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    position: absolute;
    inset: 0;
    border-radius: 8px;
  }
  img:first-child {
    z-index: 1;
  }

  button {
    width: 100%;
    border: 1px solid #3cb815;
    border-radius: 8px;
    color: #3cb815;
  }
  button:hover {
    background-color: #3cb815;
    color: white;
  }
}

// trang chi tiết tin tức
.tin_lien_quan {
  margin: 20px 0;
  img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
  }
  a {
    color: #555555;
  }
}

.thumlaiBlog {
}

// phần giỏ hàng

.summary {
  background-color: #dddddd;
  border-radius: 16px;
  color: #414141;
  padding: 2rem;
  width: 30%;
  @include tablet {
    width: 300px;
  }
  @include mobile {
    width: 300px;
  }
}
.cart {
  width: 70%;
  max-width: none;
  overflow-x: scroll;
  user-select: none;
  @include tablet {
    width: 700px;
  }
  @include mobile {
    width: 500px;
  }
}
.cart::-webkit-scrollbar {
  // width: 30px;
  height: 5px;
  background-color: #f5f5f5;
}
.cart::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#4d9c41),
    to(#19911d),
    color-stop(0.6, #54de5d)
  );
}
